{% extends 'general/pdf.html' %}

{% load my_tags %}
{% block content %} 
<div class="row widget">
<h1>{{ evaluacion.nombre }}</h1>
<br><br>
<ol>
	{% for tipo in tipos %}
		{% if preguntas|lookup:tipo.id|length > 0 %}
		<li><h3>{{ tipo.enunciado }}</h3>
		<ol  type="a">
		{% for pregunta in preguntas|lookup:tipo.id %}
		<li>
		{{ pregunta.0.descripcion }}
		{% if tipo.id == 1 %}
		        <br>
		        <textarea style="width: 90%; height: 200px;"></textarea>
		{% endif %}
		{% if tipo.id == 2 %}
		        <br>
		        {% for respuesta in pregunta.1 %}
		        	<input type="checkbox" class="{{ pregunta.0.id }}"><span>{{ respuesta.descripcion }}</span><br />
		        {% endfor %}
		{% endif %}
		{% if tipo.id == 3 %}
		        <br>
		        <select>
		        {% for res in respuestas_join %}
		        	<option value="{{ pregunta.0.id }}">{{ res.descripcion }}</option>
		        {% endfor %}
		        </select>
		{% endif %}
		{% if tipo.id == 4 %}
		        <br>
		        <input type="radio" name="{{ pregunta.0.id }}">Verdadero
		        <input type="radio" name="{{ pregunta.0.id }}">Falso
		{% endif %}
		</li>
		{% endfor %}
		</ol>
		</li>
		<hr />
		{% endif %}
	{% endfor %}
</ol>
</div>

<script>
	$(document).ready(function(){
		
	});
	
</script>
{% endblock %}
