{% extends 'general/master_page.html' %}

{% block title %} Examenes {% endblock %}

{% block header %}Lista de preguntas{% endblock %}

{% block content %} 
<div class="row widget">
	<a class="btn btn-primary" href="/nueva_evaluacion/">Generar evaluaci&oacute;n</a>
	<br><br>
	{% if evaluaciones %}
	<table class="table table-hover">
		<tr>
			<th>Evaluaci&oacute;n</th>
			<th>&nbsp;</th>
		</tr>
		{% for evaluacion in evaluaciones %}
		<tr>
			<td>
				{{ evaluacion.nombre }}
			</td>
			<td>
				<a href="/evaluacion/ver/{{ evaluacion.id }}"><i class="fa fa-eye"></i> Ver</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	{% endif %}
</div>


<script>
	$(document).ready(function(){
		
	});
	
</script>
{% endblock %}
