{% extends 'general/master_page.html' %}

{% block title %} Examenes {% endblock %}

{% block header %}Lista de preguntas{% endblock %}
{% load my_tags %}
{% block content %} 
<div class="row widget">
<h1>{{ evaluacion.nombre }}</h1>
<br><br>
<ol>
	{% for tipo in tipos %}
		{% if preguntas|lookup:tipo.id|length > 0 %}
		<li><h3>{{ tipo.enunciado }}</h3>
		<ol  type="a">
		{% for pregunta in preguntas|lookup:tipo.id %}
		<li>
		{{ pregunta.0.descripcion }}
		{% if tipo.id == 1 %}
		        <br>
		        <textarea class="form-control" style="width: 90%; height: 200px;"></textarea>
		{% endif %}
		{% if tipo.id == 2 %}
		        <br>
		        {% for respuesta in pregunta.1 %}
		        	<div class="form-control" ><input type="checkbox" class="{{ pregunta.0.id }}"><span> {{ respuesta.descripcion }}</span></div>
		        {% endfor %}
		{% endif %}
		{% if tipo.id == 3 %}
		        <br>
		        <select class="form-control">
		        {% for res in respuestas_join %}
		        	<option value="{{ pregunta.0.id }}">{{ res.descripcion }}</option>
		        {% endfor %}
		        </select>
		{% endif %}
		{% if tipo.id == 4 %}
		        <br>
		        <div class="form-control" ><input type="radio" name="{{ pregunta.0.id }}"> Verdadero</div>
		        <div class="form-control" ><input type="radio" name="{{ pregunta.0.id }}"> Falso</div>
		{% endif %}
		</li>
		{% endfor %}
		</ol>
		</li>
		<hr />
		{% endif %}
	{% endfor %}
</ol>
</div>

<script>
	$(document).ready(function(){
		
	});
	
</script>
{% endblock %}
