{% extends 'general/master_page.html' %}

{% block title %} Materias {% endblock %}

{% block header %}Lista de materias{% endblock %}

{% block content %}
<a href="" hidden="true" id="llamar_modal" data-toggle="modal" data-target="#ver_temas"></a>
<div class="row widget">
	<a class="btn btn-primary" href="" data-toggle="modal" data-target="#agregar_materia"><i class="fa fa-plus"></i> Agregar Materia</a>
    <br><br>
	<table class="table table-hover">
		<tr>
			<th>C&oacute;digo</th>
			<th>Materia</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		{% for materia in materias %}
		<tr>
			<td>
				{{ materia.codigo }}
			</td>
			<td>
				{{ materia.nombre }}
			</td>
			<td>
				<a href="" class="temas" data-materia_nombre="{{ materia.nombre }}" data-materia_id="{{ materia.id }}"><i class="fa fa-eye"></i> Ver Temas</a>
			</td>
			<td>
				<a href="" data-toggle="modal" data-target="#editar" class="editar" data-materia_id="{{ materia.id }}" data-materia_nombre="{{ materia.nombre }}" data-materia_codigo="{{ materia.codigo }}" data-materia_descripcion="{{ materia.descripcion }}"><i class="fa fa-edit"></i> Editar</a>
			</td>
			<td>
				<a href="" data-toggle="modal" data-target="#eliminar" class="eliminar" data-materia_nombre="{{ materia.nombre }}" data-materia_id="{{ materia.id }}"><i class="fa fa-trash-o"></i> Eliminar</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

<!-- Modal Editar Materia -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarMateria" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#931328;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#FFFFFF !important;">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#FFFFFF !important;">Editar Materia</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" action="/lista_materia/" method="POST" >{% csrf_token %}
		<input type="text" hidden="true" name="inputId" id="edit_inputId" value="">
		<input type="text" hidden="true" name="inputAction" value="mod">
			<div class="form-group">
				<label for="inputCodigo" class="col-sm-offset-2 col-sm-2 control-label">Codigo </label>
				<div class="col-sm-6">
				<input type="text" class="form-control" name="inputCodigo" id="edit_inputCodigo" placeholder="####">
				</div>
			</div>
			<div class="form-group">
			<label for="inputNombre" class="col-sm-offset-2 col-sm-2 control-label">Nombre </label>
			<div class="col-sm-6">
			  <input type="text" class="form-control" name="inputNombre" id="edit_inputNombre" placeholder="Nombre de la materia">
			</div>
		  </div>
		  <div class="form-group">
			<label for="inputDescripcion" class="col-sm-offset-2 col-sm-2 control-label">Descripci&oacute;n</label>
			<div class="col-sm-6">
				<textarea name="inputDescripcion" id="edit_inputDescripcion" class="form-control msgd_content_en"></textarea>
			</div>
		  </div>
		  <div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-primary" id="submit">Guardar</button>
			</div>
		  </div>
		</form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal Eliminar Materia -->
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarMateria" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#931328;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#FFFFFF !important;"><span aria-hidden="true">&times;</span></button>
           <br>          
        </div>
      <div class="modal-body">
        <h4 class="modal-title text-center" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Seguro que quiere eliminar <span id="eliminar_materia"></span></h4>
        <br>
        <form class="form-horizontal" role="form" action="/lista_materia/" method="POST" >{% csrf_token %}
			  <input type="text" hidden="true" id="inputId" name="inputId">
			  <input type="text" hidden="true" id="inputAction" name="inputAction" value="baja">
		  <div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
			<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
			  <button type="submit" class="btn btn-danger" id="submit"><i class="fa fa-trash-o"></i></button>
			</div>
		  </div>
		</form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal agregar materia -->
<div class="modal fade" id="agregar_materia" tabindex="-1" role="dialog" aria-labelledby="agregar_materia" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#931328;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#FFFFFF !important;">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#FFFFFF !important;">Nueva materia</h4>
      </div>
      <div class="modal-body">
<form class="form-horizontal" role="form" action="/nueva_materia/" method = "post" >{% csrf_token %}
	  <div class="form-group">
	    <label for="inputCode" class="col-sm-offset-2 col-sm-2 control-label">C&oacute;digo</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" name="inputCode" placeholder="####">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputName" class="col-sm-offset-2 col-sm-2 control-label">Nombre</label>
	    <div class="col-sm-6">
	      <input type="text" class="form-control" name="inputName" placeholder="Nombre">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputDescription" class="col-sm-offset-2 col-sm-2 control-label">Descripci&oacute;n</label>
	    <div class="col-sm-6">
	    	<textarea name="inputDescription" class="form-control msgd_content_en"></textarea>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-10">
	      <div class="checkbox">
	        <label>
	          <input type="checkbox" name="inputEsProfesor"> Soy profesor de &eacute;sta materia.
	        </label>
	      </div>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-10">
	      <button type="submit" class="btn btn-primary">Crear</button>
	      <!--<button class="btn btn-default" type="button" id="ayuda">
              <span class="glyphicon glyphicon-question-sign"></span>
          </button>-->
	    </div>
	  </div>
	</form>
	</div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal ver temas -->
		<div id="temas"></div>
<!-- end Modal -->

<script>
	$(document).ready(function(){
	
		$(".temas").click(function(e){
			e.preventDefault();
			$("#temas").html(loader).load('/asignar_tema/temas_de_materia/' + $( this ).attr("data-materia_id"));
		});
		$(".eliminar").click(function(e){
			e.preventDefault();
			$("#inputId").val($(this).attr('data-materia_id'));
			$("#eliminar_materia").html($(this).attr('data-materia_nombre'));
		});
		
		$(".editar").click(function(e){
			e.preventDefault();
			$("#edit_inputId").val($(this).attr('data-materia_id'));
			$("#edit_inputCodigo").val($(this).attr('data-materia_codigo'));
			$("#edit_inputNombre").val($(this).attr('data-materia_nombre'));
			$("#edit_inputDescripcion").html($(this).attr('data-materia_descripcion'));
		});
	});
	
</script>
{% endblock %}