{% load staticfiles %}
{% load dry %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- start: Meta -->
        <meta charset="utf-8" />
        <title>AAEV - {% block title %}{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- end: Meta -->

        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

        <!-- start: Mobile Specific -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- end: Mobile Specific -->

        <!-- start: CSS -->
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/ladda-themeless.min.css' %}" rel="stylesheet">
        
        <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrapValidator.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,700" rel="stylesheet">
       <!-- end: CSS -->

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        	<script type="text/javascript" src="{% static 'js/html5shiv.min.js' %}"></script>
        	<script type="text/javascript" src="{% static 'js/respond.min.js' %}"></script>
        <![endif]-->

        <!-- start: JavaScript -->

        <!--[if !IE]>-->
        	<script type="text/javascript" src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
        <!--<![endif]-->

        <!--[if IE]>
        	<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
        <![endif]-->

        <!-- ladda (Spin for ajax buttons) -->
        <script type="text/javascript" src="{% static 'js/spin.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ladda.min.js' %}"></script>

        <!-- pace scripts (load page) -->
        <script type="text/javascript" src="{% static 'js/pace.min.js'%}"></script>

        <!-- bootstrap scripts -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- bootstrap validator scripts -->
        <script type="text/javascript" src="{% static 'js/bootstrapValidator.min.js' %}"></script>

        <!-- Tour script -->
        <script type="text/javascript" src="{% static 'js/bootstrap-tour.min.js' %}"></script>

        <!-- processForms script -->
        <script type="text/javascript" src="{% static 'js/jquery.processForm.js' %}"></script>    

        <!-- dataTables scrits -->
        <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/dataTables.bootstrap.js' %}"></script>

        <!-- highstock scripts -->
        <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>

        <!-- theme scripts -->
        <script type="text/javascript" src="{% static 'js/core.js' %}"></script>

		<!-- sweetalert -->
		<script type="text/javascript" src="{% static 'lib/sweet-alert.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'lib/sweet-alert.css' %}">

        <!-- datapicker -->
        <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.es.js' %}"></script>
        <link href="{% static 'css/datepicker3.css' %}" rel="stylesheet">
        		
        <!-- end: JavaScript -->
    </head>
    <body>
        <!-- start: Main -->
        <div id="wrapper">

            <!-- start: Main Menu (#sidebar-wrapper) -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="#"><img class="center-block" alt="UNLa" src="{% static 'img/logo_unla.png' %}"></a></li>
                    <li>
                        <a href="/">
                            <i class="fa fa-home"></i> Escritorio
                        </a>
                    </li>
                    <!-- <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#togglePlacement" data-parent="#sidenav01" class="collapsed">
                            <i class="fa fa-image"></i>  Luego de... <i class="fa fa-caret-down pull-right"></i>
                        </a>
                        <div class="collapse" id="togglePlacement" style="height: 0px;">
                            <ul class="">
                                <li><a href="/time/plus/1">Una hora</a></li>
                                <li><a href="/time/plus/2">Dos horas</a></li>
                            </ul>
                        </div>
                    </li> -->
                    {% if request.user.is_authenticated %}
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#toggleUsuarios" data-parent="#sidenav02" class="collapsed">
                            <i class="fa fa-image"></i>  Usuarios <i class="fa fa-caret-down pull-right"></i>
                        </a>
                        <div class="collapse" id="toggleUsuarios" style="height: 0px;">
                            <ul class="">
                                <li><a href="/nuevos_usuarios">Agregar usuarios</a></li>
                                <li><a href="/lista_usuario">Listar usuarios</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#toggleMaterias" data-parent="#sidenav02" class="collapsed">
                            <i class="fa fa-image"></i>  Materias <i class="fa fa-caret-down pull-right"></i>
                        </a>
                        <div class="collapse" id="toggleMaterias" style="height: 0px;">
                            <ul>
                                <li><a href="/lista_materia">Listar materias</a></li>
                                <li><a href="/preguntas">Listar preguntas</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#toggleEvaluaciones" data-parent="#sidenav03" class="collapsed">
                            <i class="fa fa-image"></i>  Evaluaciones <i class="fa fa-caret-down pull-right"></i>
                        </a>
                        <div class="collapse" id="toggleEvaluaciones" style="height: 0px;">
                            <ul>
                                <li><a href="/evaluaciones">Generar evaluaciones</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                    <!--<li>
                        <a href="/">
                            <i class="glyphicon glyphicon-question-sign"></i> Ayuda
                        </a>
                    </li>-->
                </ul>

                <div class="sidebar-nav-bottom">
                    &COPY; 2014 UNLA by Girones Ramiro, Khusnulina Valeria, Obregón Federico, Zavaglia Matias.
                </div>
            </div>
            <!-- end: Main Menu (#sidebar-wrapper) -->

            <!-- start: Page content -->
            <div id="page-content-wrapper">
                <div class="content-header">
                    <div class="user-top-nav">     

                        <span id="userNotifications" class="profile_messages_button"></span>
						{% if request.user.is_authenticated %}
                        <button class="btn btn-default" type="button" id="ayuda">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                        <span class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="userMenu1" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="userMenu1">
                                <li class="user-email"><span>{{ request.user.get_username }}</span></li>
                                <li class="user-email"><span>{{ request.user.get_profile.dni }}</span></li>
                                <li class="divider"></li>
                                <li><a tabindex="-1" href="/accounts/logout">Log Out</a></li>
                            </ul>
                        </span>
                        {% endif %}
                    </div>
                </div>

                <div class="page-content inset container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <!-- end: Page content (#page-content-wrapper) -->
        </div>
        <!-- end: Main (#wrapper) -->

    </body>
</html>