{% load staticfiles %}
{% load dry %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
                    {% block content %}{% endblock %}
    </body>
</html>