{% extends 'general/master_page.html' %} 

{% block content %} 
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="row">
	<div class="col-md-9 col-md-offset-3">
		<form class="form-horizontal" role="form" method="post"
			action="{% url 'django.contrib.auth.views.login' %}">
			{% csrf_token %}
			<div class="form-group">
				<label for="username" class="col-lg-2 control-label">Usuario</label>
				<div class="col-lg-4">
					<input type="text" class="form-control" id="username" name="username"
						placeholder="Usuario">
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-lg-2 control-label">Contraseña</label>
				<div class="col-lg-4">
					<input type="password" class="form-control" id="password" name="password"
						placeholder="Contraseña">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<div class="checkbox">
						<label> <input type="checkbox"> No cerrar sesión
						</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-4">
					<button type="submit" value="login" class="btn btn-default">Entrar</button>
				</div>
				<input type="hidden" name="next" value="{{ next }}" />
			</div>
		</form>
	</div>
</div>
{% endblock %}
