{% extends 'general/master_page.html' %}

{% block title %} Temas {% endblock %}

{% block header %}Nuevo Tema{% endblock %}

{% block content %} 
<div class="row widget">
 
	<div class="row">
		<label for="materias" class="col-sm-offset-1 col-sm-1">Materia</label>
		<div class="col-sm-offset-1">
			<select id="materias" class="btn btn-default">
				{% for materia in materias %}
					<option value="{{ materia.id }}">
						{{ materia.nombre }}
					</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="row">
		<div id="temas" class="col-sm-offset-2 col-sm-10">
		</div>
	</div>
	<hr />
	  <form class="form-horizontal" role="form" id="crear_tema" action="crear_tema/" method="POST" >{% csrf_token %}
		  <div class="form-group">
		    <label for="inputName" class="col-sm-offset-2 col-sm-2 control-label">Nombre </label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" name="name" placeholder="Aca va el titulo del tema">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="inputDescription" class="col-sm-offset-2 col-sm-2 control-label">Descripci&oacute;n</label>
		    <div class="col-sm-6">
		    	<textarea name="description" class="form-control msgd_content_en"></textarea>
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-4 col-sm-8">
		      <button type="submit" class="btn btn-primary" id="submit">Asignar</button>
		    </div>
		  </div>
		  <input type="hidden" name="idMateria" value="">
	</form>
</div>

<script>
	$(document).ready(function(){
		//Will execute only once
		$("#temas").html(loader).load('/asignar_tema/temas_de_materia/' + $("#materias").val());
		$("input[name='idMateria']").val($("#materias").val());
		
		$("#materias").on('change', function() {
			$("#temas").html(loader).load('/asignar_tema/temas_de_materia/' + $(this).val());
			$("input[name='idMateria']").val($("#materias").val());
		});
		
		$("#submit").click(function(e) {
	        e.preventDefault();
			$.ajax({
	            type: $("#crear_tema").attr('method'),
	            url: $("#crear_tema").attr('action'),
	            data: $("#crear_tema").serialize(),
	            success: function(response) {
	            	$("#temas").html(loader).load('/asignar_tema/temas_de_materia/' + $("input[name='idMateria']").val());
	            	$("#crear_tema")[0].reset();
	            	$("input[name='idMateria']").val($("#materias").val());
	            }
	        });
			return false;
		});
	});
</script>
{% endblock %}