{% if temas %}
<br />
<br />
<div class="form-group">
			<label for="inputNombre" class="col-sm-1 control-label">Tema </label>
			<div class="col-sm-6">
<select class="form-control" id="temas" data-materia="{{ temas.0.materia.id }}">
	<option value="0">Ver todos</option>
{% for tema in temas %}
		<option value="{{ tema.id}}">{{ tema.nombre }}</option>
{% endfor %}
</select></div></div>
<br />
<br />
{% else %}
<br />
<br />
<div class="alert alert-warning" role="alert">Esta materia no tiene temas.</div>
{% endif %}

<script>
	$(document).ready(function(){
		{% if temas %}
			$("#preguntas_div").html(loader).load("/preguntas/lista/0/" + $( "#temas" ).attr("data-materia"));
		{% endif %}
		$("#temas").change(function(){
			if( $( this ).val() == '0' ){
				$("#preguntas_div").html(loader).load("/preguntas/lista/0/" + $( "#temas" ).attr("data-materia"));
				$("#agregar_pregunta_btn").hide();
			}
			else{
				$("#cp_tema").val($( this ).val());
				$("#agregar_pregunta_btn").show();
				$("#preguntas_div").html(loader).load("/preguntas/lista/" + $( this ).val());
				$("#preguntas_incompatibles_table").html(loader).load("/preguntas/preguntas_del_tema/" + $( this ).val());
			}
		});
	});
	
</script>