<div class="modal fade" id="ver_temas" tabindex="-1" role="dialog" aria-labelledby="eliminarMateria" aria-hidden="false">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#931328;">
				<button id="cerrar_ver_temas" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#FFFFFF !important;">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel" style="color:#FFFFFF !important;">Lista de Temas</h4>
			</div>
			<div class="modal-body">
			<a class="btn btn-primary" href="" data-toggle="modal" data-target="#asignar_temas" class="asignar_temas" data-tema_id="{{ tema.id }}" data-tema_nombre="{{ tema.nombre }}" data-tema_descripcion="{{ tema.descripcion }}">Agregar tema</a>
			<br />
			<hr />
				{% if temas|length > 0 %}
				<ul>
					{% for tema in temas %}
					<li>{{ tema.nombre }}</li>
					<ul>
						<li>{{ tema.descripcion }}</li>
					</ul>
					{% endfor %}
				</ul>
				{% else %}
				<div class="alert alert-warning" role="alert">Esta materia no tiene temas.</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>
</div>

<div class="modal fade" id="asignar_temas" tabindex="-1" role="dialog" aria-labelledby="eliminarMateria" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#931328;">
				<button id="cerrar_crear_tema" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#FFFFFF !important;">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel" style="color:#FFFFFF !important;">Nuevo Tema</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="crear_tema" action="/crear_tema/" method="POST" >{% csrf_token %}
					<div class="form-group">
						<label for="inputName" class="col-sm-offset-2 col-sm-2 control-label">Nombre </label>
						<div class="col-sm-6">
							<input type="text" class="form-control" name="name" placeholder="Aca va el titulo del tema">
						</div>
					</div>
					<div class="form-group">
						<label for="inputDescription" class="col-sm-offset-2 col-sm-2 control-label">Descripci&oacute;n</label>
						<div class="col-sm-6">
							<textarea name="description" class="form-control msgd_content_en"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="submit" class="btn btn-primary" id="submit">Agregar</button>
						</div>
					</div>
					<input id="idMateria" type="hidden" name="idMateria" value="{{ materia_id }}">
				</form>
			</div>
		</div>
	</div>
</div>
</div>
</div>


<script>
	$(document).ready(function(){
		$("#llamar_modal").click();

		$('#crear_tema').submit(function(e){
			materia_id = $( '#idMateria' ).val();
			e.preventDefault();
			$.ajax({
				type: $("#crear_tema").attr('method'),
				url: $("#crear_tema").attr('action'),
				data: $("#crear_tema").serialize(),
				success: function(response){
					//$.when($('.modal.in').modal('hide')).then($("#temas").html(loader).load('/asignar_tema/temas_de_materia/' + materia_id));
					$('#cerrar_ver_temas').click();
					$('#cerrar_crear_tema').click();
					//$("#temas").html(loader).load('/asignar_tema/temas_de_materia/' + materia_id); 
				}
			});
			return false;
		});
		
	});
</script>
