{% extends 'general/master_page.html' %}

{% block title %} Usuarios {% endblock %}

{% block header %}Usuarios{% endblock %}

{% block content %} 
<div class="row widget">
   <form id="create_users" method="POST" action="upload-users/">
      <input type="hidden" name="cantidad" value="" id="cantidad"></input>
      <div class="col-md-12">
         <table class="table table-hover table-condensed" id="add_users">
            <thead>
               <tr >
                  <th class="text-center">
                     Nombre/s<br />
                     <i><small>Dato obligatorio</small></i>
                  </th>
                  <th class="text-center">
                     Apellido/s<br />
                     <i><small>Dato obligatorio</small></i>
                  </th>
                  <th class="text-center">
                     Documento<br />
                     <i><small>Obligatorio y num&eacute;rico sin espacios</small></i>
                  </th>
                  <th class="text-center">
                     eMail<br />
                     <i><small>Obligatorio y en forma de mail</small></i>
                  </th>
                  <th class="text-center">
                     &nbsp;
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr id='addr0' data-index="0" class="user">
                  <td>
                     <input type="text" name='name0'  placeholder='Nombre' class="form-control firstName"/>
                  </td>
                  <td>
                     <input type="text" name='last0'  placeholder='Apellido' class="form-control lastName"/>
                  </td>
                  <td>
                     <input type="text" name='dni0' onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder='########' class="form-control dni"/>
                  </td>
                  <td>
                     <input type="text" name='mail0' placeholder='correo@mail.com' class="form-control mail"/>
                  </td>
                  <td>
                     <button onClick='delete_row("addr0")' class="btn btn-danger delete_row">
                     <i class="fa fa-ban fa-inverse"></i>
                     </button>
                  </td>
               </tr>
               <tr id='addr1' class="user" data-index="1"></tr>
            </tbody>
         </table>
      </div>
      <button id="add_row" class="btn btn-default"><i class="fa fa-plus"></i> Agregar Fila</button>
      &nbsp;
      <button id="csv_users" class="btn btn-default"><i class="fa fa-file-text-o"></i> Subir CSV</button>
      <br />
      <br />
      <div class="checkbox inline">
	     <label>
	        <input type="checkbox" name="reemplazarDatosDelAlumno"> Reemplazar los datos en caso que el usuario ya est&eacute; registrado (<i>en caso contrario &uacute;nicamente y de ser necesario ser&aacute; inscripto a la materia</i>).
	     </label>
	  </div>
      <br />
      <div class="checkbox inline">
	     <label>
	        <input type="checkbox"  id="asignar_alumnos" name="asignarAlumnosAMateria"> Inscribir alumnos en la materia
	     </label>
	  </div>
      <HR>
      <select id="materias" class="btn btn-default inline">
      	{% for materia in materias %}
		    <option value="{{ materia.id }}">
		        {{ materia.nombre }}
		    </option>
		{% endfor %}
      </select>
		&nbsp;
      <button class="btn btn-primary floatRight" id="submit"><i class="fa fa-save"></i> Crear Usuarios</button>
      <input type="hidden" name="idMateria" value="">
   </form>
</div>
<div id="message"></div>
<input type="file"  accept=".csv" style="display:none" id="uploadFile"/>

<script>
	function getEmptyRows() {
	    $('#add_users tr').each(function() {
	        $(this).find('td').each(function() {
	            alert($(this).text());
	        });
	    });
	}
	$(document).ready(function() {
		$("#materias").hide();
		$("input[name='idMateria']").val($("#materias").val());
		
		$("#asignar_alumnos").click(function() {  
	        if($("#asignar_alumnos").is(':checked')) {  
	        	$("#materias").show();
	        } else {  
	        	$("#materias").hide();  
	        }  
	    });
		
		$("#materias").on('change', function() {
			$("input[name='idMateria']").val($("#materias").val());
		});
		
	    var i = 1;
	    $("#add_row").click(function() {
	        $('#addr' + i).html("<td><input name='name" + i + "' type='text' placeholder='Nombre' class='form-control' /></td>" + "<td><input name='last" + i + "' type='text' placeholder='Apellido' class='form-control' /></td>" + "<td><input name='dni" + i + "' type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder='########' class='form-control' /></td>" + "<td><input name='mail" + i + "' type='text' placeholder='correo@mail.com' class='form-control' /></td>" + "<td><button onClick='delete_row(\"addr" + i + "\")' class='btn btn-danger delete_row'><i class='fa fa-ban fa-inverse'></i></button></td>");
	
	        $('#add_users').append('<tr class="user" data-index="' + (i + 1) + '" id="addr' + (i + 1) + '"></tr>');
	        i++;
	    });
	
	    $("#fileupload").click(function(e) {
	        alert($("#fileupload").value);
	    });
	
	    $("#csv_users").click(function(e) {
	        showDialog('uploadFile');
	
	    });
	
	    $('#uploadFile').bind('change', function(e) {
	
	        var file = document.getElementById('uploadFile').files[0];
	        var formdata = new FormData();
	        formdata.append('file_upload', file);
	
	        $.ajax({
	            url: 'upload-users-csv/',
	            type: 'POST',
	            data: formdata,
	            processData: false,
	            contentType: false,
	            success: function(response) {
	                $.each(response.users, function(index, user) {
	                    $('#addr' + i).html("<td><input name='name" + i + "' type='text' placeholder='Nombre' class='form-control' value='" + user.firstName + "' /></td>" + "<td><input name='last" + i + "' type='text' placeholder='Apellido' class='form-control' value='" + user.lastName + "' /></td>" + "<td><input name='dni" + i + "' type='text' onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder='########' class='form-control' value='" + user.dni + "' /></td>" + "<td><input name='mail" + i + "' type='text' placeholder='correo@mail.com' class='form-control' value='" + user.email + "' /></td>" + "<td><button onClick='delete_row(\"addr" + i + "\")' class='btn btn-danger delete_row'><i class='fa fa-ban fa-inverse'></i></button></td>");
	
	                    $('#add_users').append('<tr class="user" data-index="' + (i + 1) + '" id="addr' + (i + 1) + '"></tr>');
	                    i++;
	                });
	
	                deleteEmptyRows();
	
	                if (response.errors.lenght > 0) {
	                    var myhtml = '<div class="alert alert-danger" role="alert"><ul>';
	                    $.each(response.errors, function(index, error) {
	                        myhtml = myhtml + '<li>' + error + '</li>';
	                    });
	                    myhtml = myhtml + '</ul></div>';
	                    $('#message').html(myhtml);
	                }
	            }
	        });
	    });
	
	    var frm = $('#create_users');
	    frm.submit(function(e) {
	        e.preventDefault();
	    });
	    $("#submit").click(function(e) {
	        e.preventDefault();
	        deleteEmptyRows();
	        //Variable declaration
	        var errors = 0;
	        var formdata = new FormData();
	        var rows = $('#add_users tr.user');
	        var users = [];
	        var indexes = "";
	
	        rows.each(function() {
	            var col = $(this).find('td');
	            if (col.length > 0) {
	                $nombre = col[0].getElementsByTagName("input")[0];
	                if (isInputEmpty($nombre)) {
	                    $nombre.style.backgroundColor = "#FF8080";
	                    errors += 1;
	                } else {
	                    $nombre.style.backgroundColor = "#FFFFFF";
	                }
	                $apellido = col[1].getElementsByTagName("input")[0];
	                if (isInputEmpty($apellido)) {
	                    $apellido.style.backgroundColor = "#FF8080";
	                    errors += 1;
	                } else {
	                    $apellido.style.backgroundColor = "#FFFFFF";
	                }
	                $documento = col[2].getElementsByTagName("input")[0];
	                if (isInputEmpty($documento)) {
	                    $documento.style.backgroundColor = "#FF8080";
	                    errors += 1;
	                } else {
	                    $documento.style.backgroundColor = "#FFFFFF";
	                }
	                $email = col[3].getElementsByTagName("input")[0];
	                if (!isInputEmpty($email) && validateEmail($email.value)) {
	                    $email.style.backgroundColor = "#FFFFFF";
	                } else {
	                    $email.style.backgroundColor = "#FF8080";
	                    errors += 1;
	                }
	                var user = JSON.stringify({
	                    firstName: $nombre.value,
	                    lastName: $apellido.value,
	                    document: $documento.value,
	                    mail: $email.value
	                });
	                users.push(user);
	                indexes = indexes + "_" + $(this).attr('data-index');
	            }
	        });
	        if (errors == 0) {
	            $("#cantidad").val(indexes);
	            formdata.append('users', users);
	            $.ajax({
	                type: frm.attr('method'),
	                url: frm.attr('action'),
	                data: frm.serialize(),
	                success: function(response) {
	                    alert(response['errors']);
	                }
	            });
	        } else {
	            swal({   title: "Atención",   text: "Debe corregir los campos que están marcados en rojo!",   type: "warning",   confirmButtonText: "OK" });
	
	        }
	        return false;
	    });
	
	});
	
	function deleteEmptyRows() {
	    var rows = $('#add_users tr.user');
	    rows.each(function() {
	        var col = $(this).find('td');
	        if (col.length > 0) {
	            var nombre = col[0].getElementsByTagName("input")[0].value;
	            var apellido = col[1].getElementsByTagName("input")[0].value;
	            var documento = col[2].getElementsByTagName("input")[0].value;
	            var email = col[3].getElementsByTagName("input")[0].value;
	            if (validateEmptyRow(nombre, apellido, documento, email)) {
	                delete_row($(this).attr('id'));
	            }
	        }
	    });
	}
	
	function delete_row(index) {
	    rows = $('tr.user').length;
	    if (rows > 2) {
	        element = $("#" + index);
	        element.remove();
	    }
	    return false;
	}
	
	//Validations
	
	function isInputEmpty(input) {
	    if (input.value.length === 0)
	        return true;
	    return false;
	}
	
	function validateEmptyRow(nombre, apellido, documento, email) {
	    if ((nombre.length + apellido.length + documento.length + email.length) === 0)
	        return true;
	    else
	        return false;
	}
	
	function validateEmail(email) {
	    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
	    return re.test(email);
	}
</script>
{% endblock %}