{% extends 'general/master_page.html' %}

{% block title %} Usuarios {% endblock %}

{% block header %}Lista de usuarios{% endblock %}

{% block content %} 
<div class="row widget">
	<table class="table">
		<tr>
			<th>Email</th>
			<th>Usuario</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		{% for usuario in usuarios %}
		<tr>
			<td>
				{{ usuario.email }}
			</td>
			<td>
				{{ usuario.username }}
			</td>
			<td>
				{{ usuario.first_name }}
			</td>
			<td>
				{{ usuario.last_name }}
			</td>
			<td>
				<a href="" data-toggle="modal" data-target="#editar" class="editar" data-usuario_id="{{ usuario.id }}" data-usuario_nombre="{{ usuario.first_name }}" data-usuario_apellido="{{ usuario.last_name }}" data-usuario_dni="{{ usuario.username }}" data-usuario_mail="{{ usuario.email }}"><i class="fa fa-edit"></i> Editar</a>
			</td>
			<td>
				<a href="" data-toggle="modal" data-target="#eliminar" class="eliminar" data-usuario_dni="{{ usuario.username }}" data-usuario_id="{{ usuario.id }}"><i class="fa fa-trash-o"></i> Eliminar</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarUsuario" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#931328;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#FFFFFF !important;">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="color:#FFFFFF !important;">Editar Usuario</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" action="/lista_usuario/" method="POST" >{% csrf_token %}
		<input type="text" hidden="true" name="inputId" id="edit_inputId" value="">
		<input type="text" hidden="true" name="inputAction" value="mod">
			<div class="form-group">
				<label for="inputDni" class="col-sm-offset-2 col-sm-2 control-label">DNI </label>
				<div class="col-sm-6">
				<input type="text" class="form-control" name="inputDni" id="edit_inputDni" placeholder="####">
				</div>
			</div>
			<div class="form-group">
				<label for="inputNombre" class="col-sm-offset-2 col-sm-2 control-label">Nombre </label>
				<div class="col-sm-6">
			  	<input type="text" class="form-control" name="inputNombre" id="edit_inputNombre" placeholder="Nombre del alumno">
				</div>
		  	</div>
		  	<div class="form-group">
				<label for="inputApellido" class="col-sm-offset-2 col-sm-2 control-label">Apellido </label>
				<div class="col-sm-6">
			  	<input type="text" class="form-control" name="inputApellido" id="edit_inputApellido" placeholder="Apellido del alumno">
				</div>
		  	</div>
		  	<div class="form-group">
				<label for="inputMail" class="col-sm-offset-2 col-sm-2 control-label">eMail </label>
				<div class="col-sm-6">
			  	<input type="text" class="form-control" name="inputMail" id="edit_inputMail" placeholder="eMail del alumno">
				</div>
		  	</div>
		  <div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" id="submit">Guardar</button>
			</div>
		  </div>
		</form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal -->
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarUsuario" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#931328;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="color:#FFFFFF !important;">&times;</span></button>
         <br> 
      </div>
      <div class="modal-body">
      <h4 class="modal-title text-center" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Seguro que quiere eliminar <span id="eliminar_usuario"></span></h4>
      <br>
        <form class="form-horizontal" role="form" action="/lista_usuario/" method="POST" >{% csrf_token %}
			  <input type="text" hidden="true" id="inputId" name="inputId">
			  <input type="text" hidden="true" id="inputAction" name="inputAction" value="baja">
		  <div class="form-group">
			<div class="col-sm-offset-4 col-sm-8">
			<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
			  <button type="submit" class="btn btn-danger" id="submit"><i class="fa fa-trash-o"></i></button>
			</div>
		  </div>
		</form>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<script>
	$(document).ready(function(){
		$(".eliminar").click(function(e){
			e.preventDefault();
			$("#inputId").val($(this).attr('data-usuario_id'));
			$("#eliminar_usuario").html($(this).attr('data-usuario_dni'));
		});
		
		$(".editar").click(function(e){
			e.preventDefault();
			$("#edit_inputId").val($(this).attr('data-usuario_id'));
			$("#edit_inputDni").val($(this).attr('data-usuario_dni'));
			$("#edit_inputNombre").val($(this).attr('data-usuario_nombre'));
			$("#edit_inputApellido").val($(this).attr('data-usuario_apellido'));
			$("#edit_inputMail").val($(this).attr('data-usuario_mail'));
			//$("#edit_inputDescripcion").html($(this).attr('data-materia_descripcion'));
		});
	});
	
</script>
{% endblock %}
