<div class="modal fade" id="crear" tabindex="-1" role="dialog" aria-labelledby="crearPregunta" aria-hidden="true">
	<div class="modal-dialog" style="width: 90% !important;">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#931328;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#FFFFFF !important;"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel" style="color:#FFFFFF !important;">Nueva Pregunta</h4>
			</div>
			<div class="modal-body">
				<input type="text" hidden="true" value="" id="cp_tema" />
				<div class="row">
					<div class="col-sm-3">
						<ol>
							<li id="tipo_de_pregunta_li"><h4>Tipo de Pregunta</h4></li>
							<li id="pregunta_li" class="inactive"><h4>Pregunta / concepto</h4></li>
							<li id="respuestas_li" class="inactive"><h4>Respuesta/s</h4></li>
							<li id="preguntas_incompatibles_li" class="inactive"><h4>Preguntas incompatibles</h4></li>
							<li id="finalizar_li" class="inactive"><h4>¡Finalizar!</h4></li>
						</ol>
					</div>
					<div class="col-sm-9">
						<!-- ______ Tipo de Pregunta _____ -->
						<div id="tipo_de_pregunta_div">
							<select name="inputTipoPregunta" class="form-control" id="cp_tipo_pregunta">
								{% for tipoPregunta in tiposPregunta %}
								<option value="{{ tipoPregunta.id }}" {%if tipoPregunta.id == 1 %} selected {%endif%} data-enunciado="{{ tipoPregunta.enunciado }}">{{ tipoPregunta.tipo }}</option>
								{% endfor %}
							</select>
							<br><br>
							<label class="control-label" style="font-size:20px;">"<i id="tipo_pregunta_enunciado"></i>"</label>
							<br><br>
							<input class="btn btn-primary" type="button" id="tipo_de_pregunta_sig" value="Siguiente" />
						</div>

						<!-- ______ Pregunta _____ -->
						<div id="pregunta_div" hidden="true">
							<textarea style="width: 95%;" id="cp_pregunta" class="form-control msgd_content_en"></textarea>
							<br><br>
							<input class="btn btn-default" type="button" id="pregunta_atr" value="Volver" />
							<input class="btn btn-primary" type="button" id="pregunta_sig" value="Siguiente" />
						</div>

						<!-- ______ Respuestas _____ -->
						<div id="respuestas_div" hidden="true">
							<div id="agregar_respuestas" hidden="true">
							<label class="control-label">Seleccione respuestas correctas.</label><br>
								<table class="table table-condensed" id="tbl1" border="1">
									<tr>
										<td><input type="text" data-check="cp_tipo_respuesta_1" class="form-control respuesta" value=""></td>
										<td><input class="form-control" type="checkbox" id="cp_tipo_respuesta_1" /></td>
									</tr> 
								</table><br>
								<a class="btn btn-default" href="javascript:void(0);" id='anc_add'>Agregar Fila</a>
								<a class="btn btn-default" href="javascript:void(0);" id='anc_rem'>Quitar Fila</a>
							</div>
							<div class="alert alert-warning" id="no_aplica" role="alert">No aplica.</div>
							<br><br>
							<input class="btn btn-default" type="button" id="respuestas_atr" value="Volver" />
							<input class="btn btn-primary" type="button" id="respuestas_sig" value="Siguiente" />
						</div>

						<!-- ______ Preguntas Incompatibles _____ -->
						<div id="preguntas_incompatibles_div" hidden="true">
							<div id="preguntas_incompatibles_table"></div>
							<input class="btn btn-default" type="button" id="preguntas_incompatibles_atr" value="Volver" />
							<input class="btn btn-primary" type="button" id="preguntas_incompatibles_sig" value="Siguiente" />
						</div>

						<!-- ______ Resumen _____ -->
						<div id="finalizar_div" hidden="true">
							<label class="control-label" id="resumen_tipo"></label><br>
							<label class="control-label" id="resumen_pregunta"></label><br>
							<div id="resumen_respuestas"></div><br><br>
							<input class="btn btn-default" type="button" id="finalizar_atr" value="Volver" />
							<input class="btn btn-primary" type="button" id="finalizar" value="Finalizar" />
							{% csrf_token %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function cambiarInactivo(activo, inactivo){
			$("#" + activo).addClass("inactive");
			$("#" + inactivo).removeClass("inactive");
		}
		function cambiarDiv(visible, invisible){
			$("#" + visible).hide();
			$("#" + invisible).show();
		}
		$(document).ready(function(){
			

			//--------- Se ejecuta una sola vez
			$("input[name='idMateria']").val($("#materias").val());
			$('#tbl1').html("");
			cambiarDiv("agregar_respuestas", "no_aplica");

			//--------- Botones siguiente
			$("#tipo_de_pregunta_sig").click(function(){
				cambiarInactivo("tipo_de_pregunta_li", "pregunta_li");
				cambiarDiv("tipo_de_pregunta_div", "pregunta_div");
			});
			$("#pregunta_sig").click(function(){
				cambiarInactivo("pregunta_li", "respuestas_li");
				cambiarDiv("pregunta_div", "respuestas_div");
			});
			$("#respuestas_sig").click(function(){
				cambiarInactivo("respuestas_li", "preguntas_incompatibles_li");
				cambiarDiv("respuestas_div", "preguntas_incompatibles_div");
				// ----------- Mostrar Respuestas -------------
				respuestas = "";
				if($("#cp_tipo_pregunta").val() == 1){
					respuestas = '<textarea style="width: 95%;" disabled="" class="form-control msgd_content_en"></textarea>';
				}else{
					respuestas = '<table class="table table-condensed">';
					$('.respuesta').each(function(){
						respuestas += '<tr><td><input disabled="" type="checkbox" /></td>';
						respuestas += "<td>" + $(this).val() + '</td>';
						if($("#"+$(this).attr('data-check')).is(':checked'))
							respuestas += "<td><i>Correcta</i></td>";
						else
							respuestas += "<td><i>Incorrecta</i></td>";
						respuestas += "</tr>";
					});
					respuestas += "</table>";
				}
				$("#resumen_respuestas").html(respuestas);

			});
			$("#preguntas_incompatibles_sig").click(function(){
				cambiarInactivo("preguntas_incompatibles_li", "finalizar_li");
				cambiarDiv("preguntas_incompatibles_div", "finalizar_div");
			});
			//--------- FIN botones siguiente

			//--------- Botones atras
			$("#pregunta_atr").click(function(){
				cambiarInactivo("pregunta_li", "tipo_de_pregunta_li");
				cambiarDiv("pregunta_div", "tipo_de_pregunta_div");
			});
			$("#respuestas_atr").click(function(){
				cambiarInactivo("respuestas_li", "pregunta_li");
				cambiarDiv("respuestas_div", "pregunta_div");
			});
			$("#preguntas_incompatibles_atr").click(function(){
				cambiarInactivo("preguntas_incompatibles_li", "respuestas_li");
				cambiarDiv("preguntas_incompatibles_div", "respuestas_div");
			});
			$("#finalizar_atr").click(function(){
				cambiarInactivo("finalizar_li", "preguntas_incompatibles_li");
				cambiarDiv("finalizar_div", "preguntas_incompatibles_div");
			});
			//--------- FIN botones atras

			//--------- Select Tipo de Pregunta
			$("#tipo_pregunta_enunciado").html( $('option:selected', "#cp_tipo_pregunta").attr('data-enunciado') );
			$("#resumen_tipo").html( $('option:selected', "#cp_tipo_pregunta").attr('data-enunciado') );
			$("#cp_tipo_pregunta").change(function(){
				$("#tipo_pregunta_enunciado").html( $('option:selected', this).attr('data-enunciado') );
				$("#resumen_tipo").html( $('option:selected', "#cp_tipo_pregunta").attr('data-enunciado') );
				//Respuestas
				if( $( this ).val() == 1 ){// -- A DESARROLLAR
					$('#tbl1').html("");
					cambiarDiv("agregar_respuestas", "no_aplica");
				}else{
					cambiarDiv("no_aplica", "agregar_respuestas");
					if( $( this ).val() == 2 ){// -- SELECCION MULTIPLE
						$('#tbl1').html('<tr><td><input data-check="cp_tipo_respuesta_1" class="form-control respuesta" type="text"  value="" ></td><td><input class="form-control" type="checkbox" id="cp_tipo_respuesta_1" /></td></tr>');
						cnt = 2;
						$("#anc_add").show();
						$("#anc_rem").show();
					}else if($( this ).val() == 3 ){// -- UNION CON FLECHA
						$('#tbl1').html('<tr><td><input data-check="cp_tipo_respuesta_1" class="form-control respuesta" type="text"  value="" ></td><td><input class="form-control" type="checkbox" checked="" id="cp_tipo_respuesta_1" disabled="" /></td></tr>');
						cnt = 2;
						$("#anc_add").hide();
						$("#anc_rem").hide();
					}else{// -- VERDADERO O FALSO
						$('#tbl1').html('<tr><td><input data-check="cp_tipo_respuesta_1" class="form-control respuesta" type="text"  value="Verdadero"  disabled="" ></td><td><input class="form-control" type="radio" name="verdadero-falso" checked="" id="cp_tipo_respuesta_1" /></td></tr><tr><td><input data-check="cp_tipo_respuesta_2" class="form-control respuesta" type="text"  value="Falso" disabled="" ></td><td><input class="form-control" type="radio" name="verdadero-falso" id="cp_tipo_respuesta_2" /></td></tr>');
						cnt = 3;
						$("#anc_add").hide();
						$("#anc_rem").hide();
					}
				}
			});
			//--------- FIN Select Tipo de Pregunta

			//--------- Respuestas
			var cnt = 2;
			$("#anc_add").click(function(){
				$('#tbl1 tr').last().after('<tr><td><input data-check="cp_tipo_respuesta_'+cnt+'" class="form-control respuesta" type="text"  value=""></td><td><input class="form-control" type="checkbox" id="cp_tipo_respuesta_'+cnt+'" /></td></tr>');
				cnt++;
			});

			$("#anc_rem").click(function(){
				if($('#tbl1 tr').size()>1){
					$('#tbl1 tr:last-child').remove();
				}
			});
			//---------- FIN Respuestas

			//---------- Resumen
			$('#cp_pregunta').keyup(function(){
				$('#resumen_pregunta').html($(this).val());
			});
			//---------- Fin Resumen

			//---------- Finalizar
			$("#finalizar").click(function(){
				questions = {
					csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
					tema_id: $("#cp_tema").val(),
					tipo_id: $("#cp_tipo_pregunta").val(),
					enunciado: $("#cp_pregunta").val(),
				};
				i = 0;
				// ---- Guardo Respuetas
				$('.respuesta').each(function(){
					i++;
					respuesta = $(this).val();
					valor = $("#" + $(this).attr('data-check')).is(':checked');
					questions['respuesta'+i] = respuesta;
					if(valor)
						questions['valor'+i] = 1;
					else
						questions['valor'+i] = 0;
				});
				questions['cantidad_respuestas'] = i;
				// ---- Preguntas Incompatibles
				preguntas_incompatibles = "";
				$(".preguntas_incompatibles_check").each(function(){
					if($(this).is(":checked"))
						preguntas_incompatibles += $(this).attr("data-pregunta") + "&";
				});
				if(preguntas_incompatibles.length > 0)
					preguntas_incompatibles = preguntas_incompatibles.slice(0,-1);
				questions['preguntas_incompatibles'] = preguntas_incompatibles;
				$.ajax({
		            type: 'POST',
		            url: '/nueva_pregunta/',
		            data: questions,
		            success: function(response) {
		            	$('.close').click();
		            	swal({   title: "Nueva pregunta",   text: "creada satisfactoriamente!",   type: "success",   confirmButtonText: "OK" });
		            }
		        });
			});
		});
</script>