{% extends 'general/master_page.html' %}

{% block title %} Preguntas {% endblock %}

{% block header %}Lista de preguntas{% endblock %}

{% block content %} 
<div class="row widget">

	<div class="form-group">
			<label for="inputNombre" class="col-sm-1 control-label">Materia </label>
			<div class="col-sm-6">
	<select id="materias" class="form-control">
	{% for materia in materias %}
			<option value="{{ materia.id}}" {% if materia_seleccionar == materia.id %} selected="" {% endif %}>{{ materia.nombre }}</option>
	{% endfor %}
	</select></div></div>
	<div id="temas_div"></div>
	<a href="" class="btn btn-primary" style="margin-bottom:10px;" hidden="true" data-toggle="modal" data-target="#crear" id="agregar_pregunta_btn">Agregar Pregunta</a>
	<div id="preguntas_div"></div>
</div>

<!-- Crear Pregunta -->
{% include "preguntas/crear_pregunta.html" with tipos_pregunta=tiposPregunta %}
<!-- end -->

<script>
	$(document).ready(function(){
		{% if materias %}
			$("#temas_div").html(loader).load("/asignar_tema/temas_de_materia_combo/"+$("#materias").val());
			$("#agregar_pregunta_btn").hide();
		{% endif %}
		$("#materias").change(function(){
			$("#agregar_pregunta_btn").hide();
			$("#preguntas_div").html("");
			$("#temas_div").html(loader).load("/asignar_tema/temas_de_materia_combo/" + $(this).val());
		});
		// -------- Submit de los Modales
		
	});
	
</script>
{% endblock %}
