{% if preguntas|length > 0 %}
<table class="table table-hover">
	<tr>
		<th>Tipo de Pregunta</th>
		<th>Tema</th>
		<th>Enunciado</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	{% for pregunta in preguntas %}
	<tr>
		<td>
			{{ pregunta.tipo.tipo }}
		</td>
		<td>
			{{ pregunta.tema.nombre }}
		</td>
		<td>
			{{ pregunta.descripcion }}
		</td>
		<td nowrap>
			<a href="" data-toggle="modal" data-target="#editar" class="editar" data-pregunta_nombre="{{ pregunta.descripcion }}" data-pregunta_tipo="{{ pregunta.tipo.tipo }}" data-pregunta_tipo_id="{{ pregunta.tipo.id }}" data-pregunta_id="{{ pregunta.id }}"><i class="fa fa-edit"></i> Editar</a>
		</td>
		<td nowrap>
			<a href="" data-toggle="modal" data-target="#eliminar" class="eliminar" data-pregunta_nombre="{{ pregunta.descripcion }}" data-tema_id="{{ pregunta.tema.id }}" data-pregunta_tipo="{{ pregunta.tipo.tipo }}" data-pregunta_tipo_id="{{ pregunta.tipo.id }}" data-pregunta_id="{{ pregunta.id }}"><i class="fa fa-trash-o"></i> Eliminar</a>
		</td>
	</tr>
	{% endfor %}
</table>

<!-- Modal -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="editarMateria" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#931328;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#FFFFFF !important;"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel" style="color:#FFFFFF !important;">Editar Pregunta</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" action="/preguntas/index/" method="POST" >{% csrf_token %}
					<input type="text" hidden="true" name="inputId" id="edit_inputId" value="">
					<input type="text" hidden="true" name="inputAction" value="mod">
					<div class="form-group">
						<label class="col-sm-offset-2 col-sm-2 control-label">Tipo de Pregunta </label>
						<div class="col-sm-6">
							<input type="text" disabled class="form-control" id="edit_inputTipo">
						</div>
					</div>
					<div class="form-group">
						<label for="inputDescripcion" class="col-sm-offset-2 col-sm-2 control-label">Enunciado</label>
						<div class="col-sm-6">
							<textarea name="inputDescripcion" id="edit_inputDescripcion" class="form-control msgd_content_en"></textarea>
						</div>
					</div>
					<div id="respuestas_form"></div>
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary" id="submit">Guardar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end Modal -->

<!-- Modal -->
<div class="modal fade" id="eliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarPregunta" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" style="background-color:#931328;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#FFFFFF !important;"><span aria-hidden="true">&times;</span></button>
				<br>
			</div>
			<div class="modal-body">
				<h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle"></i> Seguro que quiere eliminar la pregunta: <br /><span id="eliminar_pregunta"></span></h4>
				<form class="form-horizontal" role="form" action="/preguntas/index/" method="POST" >{% csrf_token %}
					<input type="text" hidden="true" id="eliminar_inputTema" value="">
					<input type="text" hidden="true" id="eliminar_inputId" name="inputId" value="">
					<input type="text" hidden="true" id="inputAction" name="inputAction" value="baja">
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-8">
							<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
							<button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- end Modal -->

<script>
	$(document).ready(function(){
		{% if materias %}
		$("#temas_div").html(loader).load("/asignar_tema/temas_de_materia_combo/{{ materias.0.id}}");
		{% endif %}
		$("#materias").change(function(){
			$("#agregar_pregunta_btn").hide();
			$("#preguntas_div").html("");
			$("#temas_div").html(loader).load("/asignar_tema/temas_de_materia_combo/" + $(this).val());
		});

		// ------- Abre los Modales con Data
		$(".eliminar").click(function(e){
			e.preventDefault();
			$("#eliminar_inputId").attr('value', $(this).attr('data-pregunta_id'));
			$("#eliminar_inputTema").attr('value', $(this).attr('data-tema_id'));
			$("#eliminar_pregunta").html($(this).attr('data-pregunta_nombre'));
		});
		
		$(".editar").click(function(e){
			e.preventDefault();
			$("#edit_inputId").attr('value', $(this).attr('data-pregunta_id'));
			$("#edit_inputTipo").attr('value', $(this).attr('data-pregunta_tipo'));
			$("#edit_inputDescripcion").html($(this).attr('data-pregunta_nombre'));
			$("#respuestas_form").html(loader).load('/respuestas/form/' + $(this).attr('data-pregunta_id'))
		});

		
	});
</script>
{% else %}
<div class="alert alert-warning" role="alert">Esta materia no tiene temas.</div>
{% endif %}