{% if preguntas|length > 0 %}
<table class="table table-condensed" >
	<tr>
		<th>Tipo de Pregunta</th>
		<th>Enunciado</th>
		<th>&nbsp;</th>
	</tr>
	{% for pregunta in preguntas %}
		<tr>
			<td>
				{{ pregunta.tipo.tipo }}
			</td>
			<td>
				{{ pregunta.descripcion }}
			</td>
			<td>
				<input type="checkbox" class="preguntas_incompatibles_check" data-pregunta="{{ pregunta.id }}" value="" />
			</td>
		</tr>
	{% endfor %}
</table>
{% else %}
<div class="alert alert-warning" id="no_aplica" role="alert">No hay preguntas creadas.</div>
{% endif %}